{% extends 'admin/layout.html.twig' %}

{% block title %}Éditer le blu-ray{% endblock %}

{% block body %}
    <h1>Éditer le blu-ray</h1>

    {{ include('admin/bluray/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('bluray_index') }}">retour vers la liste</a>

    {{ include('admin/bluray/_delete_form.html.twig') }}
{% endblock %}
