{% extends 'base.html.twig' %}

{% block title %}Edit Bluray{% endblock %}

{% block body %}
    <h1>Edit Bluray</h1>

    {{ include('admin/bluray/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('bluray_index') }}">back to list</a>

    {{ include('admin/bluray/_delete_form.html.twig') }}
{% endblock %}
