{% extends 'admin/layout.html.twig' %}

{% block title %}Nouvea blu-ray{% endblock %}

{% block body %}
    <h1>Ajouter un nouveau blu-ray</h1>

    {{ include('admin/bluray/_form.html.twig') }}

    <a href="{{ path('bluray_index') }}">retour vers la liste</a>
{% endblock %}
