{% extends 'base.html.twig' %}

{% block title %}New Bluray{% endblock %}

{% block body %}
    <h1>Create new Bluray</h1>

    {{ include('admin/bluray/_form.html.twig') }}

    <a href="{{ path('bluray_index') }}">back to list</a>
{% endblock %}
