{% extends 'admin/layout.html.twig' %}

{% block title %}Edit Dvd{% endblock %}

{% block body %}
    <h1>Edit Dvd</h1>

    {{ include('admin/dvd/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('dvd_index') }}">retour vers la liste</a>

    {{ include('admin/dvd/_delete_form.html.twig') }}
{% endblock %}
