{% extends 'admin/layout.html.twig' %}

{% block title %}Nouveau DVD{% endblock %}

{% block body %}
    <h1>Ajouter un nouveau DVD</h1>

    {{ include('admin/dvd/_form.html.twig') }}

    <a href="{{ path('dvd_index') }}">retour vers la liste</a>
{% endblock %}
