{% extends 'admin/layout.html.twig' %}

{% block title %}Nouvel acteur{% endblock %}

{% block body %}
    <h1>Ajouter un nouvel acteur</h1>

    {{ include('admin/actor/_form.html.twig') }}

    <a href="{{ path('actor_index') }}">retour vers la liste</a>
{% endblock %}
