{% extends 'admin/layout.html.twig' %}

{% block title %}Nouveau réalisateur{% endblock %}

{% block body %}
    <h1>Ajouter un nouveau réalisateur</h1>

    {{ include('admin/director/_form.html.twig') }}

    <a href="{{ path('director_index') }}">retour vers la liste</a>
{% endblock %}
