{% extends 'admin/layout.html.twig' %}

{% block title %}Auteurs{% endblock %}

{% block body %}
    <h1>Auteurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for author in authors %}
            <tr>
                <td>{{ author.name }}</td>
                <td>
                    <a href="{{ path('author_show', {'id': author.id}) }}">voir</a>
                    <a href="{{ path('author_edit', {'id': author.id}) }}">éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('author_new') }}">Ajouter</a>
{% endblock %}
