{% extends 'admin/layout.html.twig' %}

{% block title %}Nouvel auteur{% endblock %}

{% block body %}
    <h1>Ajouter un nouvel auteur</h1>

    {{ include('admin/author/_form.html.twig') }}

    <a href="{{ path('author_index') }}">retour vers la liste</a>
{% endblock %}
