{% extends 'admin/layout.html.twig' %}

{% block title %}Nouveau livre{% endblock %}

{% block body %}
    <h1>Ajouter un nouveau livre</h1>

    {{ include('admin/book/_form.html.twig') }}

    <a href="{{ path('book_index') }}">retour vers la liste</a>
{% endblock %}
